
function searchMyData() {
}


var list = [
  {
    id: '1',
    MTID: 'MT001',
    category: '#广告',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '2',
    MTID: 'MT002',
    category: '#生活',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '3',
    MTID: 'MT003',
    category: '#动画',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '4',
    MTID: 'MT004',
    category: '#搞笑',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '5',
    MTID: 'MT005',
    category: '#开胃',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '6',
    MTID: 'MT006',
    category: '#创意',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '7',
    MTID: 'MT007',
    category: '#运动',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '8',
    MTID: 'MT008',
    category: '#音乐',
    imageAddress: '../../images/4.jpg',
  },
  {
    id: '9',
    MTID: 'MT009',
    category: '#萌宠',
    imageAddress: '../../images/4.jpg'
  },
];

var msgImg = [{
  id: '1',
  title: '#广告',
  imageAddress: '../../images/4.jpg',
  message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感，是不是很庆幸你不用爬上去？壁纸中所见是木阿洞穴，它是按照中国长城的风格设计的，石径共有486级台阶。在山顶，你能看到一处小祭坛和乡村全景。当然爬完这么多层台阶成就感绝对会油然而生。我们希望这张壁纸能激励你今天不要乘坐电梯，而去走楼梯。既能锻炼身体又可以为节约能源做贡献的感觉，多棒！'
},
  {
    id: '2',
    title: '#生活',
    imageAddress: '../../images/3.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感，是不是很庆幸你不用爬上去？壁纸中所见是木阿洞穴，它是按照中国长城的风格设计的，石径共有486级台阶。在山顶，你能看到一处小祭坛和乡村全景。当然爬完这么多层台阶成就感绝对会油然而生。我们希望这张壁纸能激励你今天不要乘坐电梯，而去走楼梯。既能锻炼身体又可以为节约能源做贡献的感觉，多棒！'
  },
  {
    id: '3',
    title: '#动画',
    imageAddress: '../../images/5.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感，是不是很庆幸你不用爬上去？壁纸中所见是木阿洞穴，它是按照中国长城的风格设计的，石径共有486级台阶。在山顶，你能看到一处小祭坛和乡村全景。当然爬完这么多层台阶成就感绝对会油然而生。我们希望这张壁纸能激励你今天不要乘坐电梯，而去走楼梯。既能锻炼身体又可以为节约能源做贡献的感觉，多棒！'
  },
  {
    id: '4',
    title: '#搞笑',
    imageAddress: '../../images/6.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感'
  },
  {
    id: '5',
    title: '#开胃',
    imageAddress: '../../images/4.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感'
  },
  {
    id: '6',
    title: '#创意',
    imageAddress: '../../images/3.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感'
  },
  {
    id: '7',
    title: '#运动',
    imageAddress: '../../images/6.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感'
  },
  {
    id: '8',
    title: '#音乐',
    imageAddress: '../../images/5.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感'
  },
  {
    id: '9',
    title: '#萌宠',
    imageAddress: '../../images/4.jpg',
    message: '今天是特殊的“走楼梯日”，我们从越南宁平省的这条山路中获得了一些灵感'
  },]
  


module.exports = {
  list: list,
  msgImg:msgImg,
}

